<form action = "" style="width: 90%; margin-left: 5%;" method="POST" enctype="multipart/form-data">
    <div class="form-row align-items-center" >
        <div class="col">
            <input type="text" class="form-control" name="width" placeholder="Enter the new width">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="height" placeholder="Enter the new height">
        </div>
    </div>
    <br>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
            <label class="custom-file-label" for="inputGroupFile01" style="overflow: hidden">Choose file</label>
            <input type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
        </div>
    </div>
    <br>
    <input class="btn btn-outline-secondary" type="submit" value="Submit" style="width: 10%; margin-left: 45%;">
</form>
